/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 22px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    opacity: 0.65;
    font-size: 90%;
    text-align: right;
}


/**
 * Page content
 */
.page-content {
    position: relative;
    padding: $spacing-unit 0;

    @include media-query($content-width) {
        padding: 0;

        figure {
          margin-left: 0;
          margin-right: 0;
        }
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    padding-left: 0;
    list-style: none;
}

.page-content dl {
    padding: 0 0.5rem;
    border-bottom: 1px solid $grey-color-light;
    background: #F9F9F9;
}

.page-content dt {
    color: gray;
}

.page-content dd {
    margin-left: 0;
}


.toc {
  position: absolute;
  font-size: 90%;
  max-width: 13rem;
  top: 4rem;
  left: 1rem;
  opacity: 0.4;

  @include media-query(1250px) {
    display: none !important;
  }
}

.toc:hover {
  opacity: 1;
}

.toc-fixed {
  position: fixed;
  top: 0.5rem;
}

.toc ol {
  list-style-type: none;
}

.toc-top,
.toc-h3 {
  padding-left: 0;
}

.toc-h4 li {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.toc .waypoint {
  white-space: normal;
  color: black;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  -webkit-animation: animateBG 0.25s ease-in 1;
  animation: animateBG 0.25s ease-in 1;
}

@keyframes animateBG {
  50% { background: yellow; }
  100% { background: transparent; }
}

@-webkit-keyframes animateBG {
  50% { background: yellow; }
  100% { background: transparent; }
}

.toc .waypoint::before {
  content: "> ";
}
