<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        <article>
          {{ content }}
        </article>

        {% if page.hidejump != true %}
        <div class="top-pages">
          <hr/>
          <h2>Pages</h2>
          {% include page_list.html %}
        </div>
        {% endif %}

        {% if page.comments %}
        <hr/>
        {% include comments.html %}
        {% endif %}
      </div>

      {% if page.hidejump != true %}
      <div class="left-menu">
        <div id="toc" class="toc"></div>
        <div class="top-pages">
          <hr id="hr-toc" />
          <i>Pages</i>
          {% include page_list.html %}
        </div>
      </div>
      {% endif %}
    </div>

    {% include footer.html %}

  </body>

</html>
