<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        <article>
          {{ content }}
        </article>

        {% if page.hidejump != true %}
        <div class="top-pages">
          <hr/>
          <h2>Pages</h2>
          {% include page_list.html %}
        </div>
        {% endif %}

        {% if page.comments %}
        <hr/>
        {% include comments.html %}
        {% endif %}
      </div>

      {% if page.hidejump != true %}
      <div class="left-menu">
        <div id="toc" class="toc"></div>
        <div class="top-pages">
          <hr id="hr-toc" />
          <i>Pages</i>
          {% include page_list.html %}
        </div>
      </div>
      {% endif %}
    </div>

    {% include footer.html %}

    <script src="/js/jquery-1.11.3.min.js"></script>
    <script src="/js/toc.js"></script>
    <script src="/js/jquery.waypoints.min.js"></script>

    <script type="text/javascript">
      $(document).ready(function() {

        $(window).bind('scroll', function () {
          $('.left-menu').toggleClass('left-menu-fixed', $(window).scrollTop() > 132);
        });

        $('#toc').toc({minimumHeaders: 2, noBackToTopLinks: true});
        var elements = $('h2, h3, h4');
        var elemCount = 0;

        /* Set up way points. */
        elements.each(function() {
          if (!this.id) {
            return;
          }
          elemCount++;

          var elem = this.id;
          var wp = new Waypoint({
            element: $('#' + elem),
            handler: function() {
              $('#toc a').removeClass('waypoint');
              $('#toc a[href=#' + elem + ']').toggleClass('waypoint');
            },
            offset: 125
          });
        });

        if (elemCount < 2) {
          $('#hr-toc').hide();
        }

      });
    </script>

  </body>

</html>
