---
weight: 0
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">

      <div class="container">
        <article>
          {{ content }}
        </article>

        <div>
          <hr/>
          <h2>{{ site.toc_title }}</h2>
          {% include page_list.html %}
        </div>
      </div>

      <div class="left-menu">
        <div class="top-pages">
          <div class="left-menu-wrapper">
            <i>{{ site.toc_title }}</i>
            {% include page_list.html %}
          </div>
        </div>
      </div>

    </div>

    {% include footer.html %}

  </body>

</html>
